{% extends 'base-page.html.twig' %}

{% block title %}New profileWFB12{% endblock %}

{% block body2 %}
    <h1>Create new profileWFB12</h1>

    {{ include('profileWFB12/_form.html.twig') }}

    <a href="{{ path('profileWFB12_index') }}">back to list</a>
{% endblock %}
