
<div class="dropdown-menu">
{% for game_system in game_systems %}
          <a class="dropdown-item" href="{{ path('game_system_show', {'id': game_system.id}) }}">{{ game_system.name }}</a>
{#          <div class="dropdown-divider"></div> 
          <a class="dropdown-item" href="#">Separated link</a>
#}
{% else %}
    <a class="dropdown-item" href="#">No data</a>
{% endfor %}          
</div>