<div class="list-group">
{% for game_system in game_systems %}
  <a href="{{ path('game_system_show', {'id': game_system.id}) }}" 
  class="list-group-item list-group-item-action flex-column border-top border-bottom">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{ game_system.name }}</h5>
      <small>3 days ago</small>
    </div>
    {# <p class="mb-1">Description</p>
    <small>Game system : </small> #}
  </a>

{% else %}
 <a href="#" class="list-group-item flex-column  border-top border-bottom">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">No data</h5>
      <small></small>
    </div>
    <p class="mb-1">No data</p>
    <small></small>
  </a>
 {% endfor %}

</div>
