{% extends 'base-page.html.twig' %}

{% block title %}New GameSystem{% endblock %}

{% block body2 %}
    <h1>Create new GameSystem</h1>

    {{ include('game_system/_form.html.twig') }}

    <a href="{{ path('game_system_index') }}">back to list</a>
{% endblock %}
