{% extends 'base-page.html.twig' %}

{% block title %}Edit profileWHQ{% endblock %}

{% block body2 %}
    <h1>Edit profileWHQ</h1>

    {{ include('profileWHQ/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('profileWHQ_index') }}">back to list</a>

    {{ include('profileWHQ/_delete_form.html.twig') }}
{% endblock %}
