{% extends 'base-page.html.twig' %}

{% block title %}New profileWHQ{% endblock %}

{% block body2 %}
    <h1>Create new profileWHQ</h1>

    {{ include('profileWHQ/_form.html.twig') }}

    <a href="{{ path('profileWHQ_index') }}">back to list</a>
{% endblock %}
