{% extends 'base-page.html.twig' %}

{% block title %}New profileT9A12{% endblock %}

{% block body2 %}
    <h1>Create new profileT9A12</h1>

    {{ include('profileT9A12/_form.html.twig') }}

    <a href="{{ path('profileT9A12_index') }}">back to list</a>
{% endblock %}
