<form method="post" action="{{ path('profile_aos4_delete', {'id': profile_aos4.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ profile_aos4.id) }}">
    <button class="btn">Delete</button>
</form>
