{% extends 'base.html.twig' %}

{% block title %}New ProfileAOS4{% endblock %}

{% block body %}
    <h1>Create new ProfileAOS4</h1>

    {{ include('profile_aos4/_form.html.twig') }}

    <a href="{{ path('profile_aos4_index') }}">back to list</a>
{% endblock %}
