{% extends 'base-page.html.twig' %}

{% block title %}Edit ProfileAOS4{% endblock %}

{% block body2 %}
    <h1>Edit ProfileAOS4</h1>

    {{ include('profileAOS4/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('profileAOS4_index') }}">back to list</a>

    {{ include('profileAOS4/_delete_form.html.twig') }}
{% endblock %}
