{% extends 'base-page.html.twig' %}

{% block title %}New ProfileAOS4{% endblock %}

{% block body2 %}
    <h1>Create new ProfileAOS4</h1>

    {{ include('profileAOS4/_form.html.twig') }}

    <a href="{{ path('profileAOS4_index') }}">back to list</a>
{% endblock %}
