{#
    parameter gamesystem to filter with gameSystem
#}

<div class="list-group">
{% for nation in nations %}
  {% set linkParams = {'id': nation.id  } %}
  {% set nationRoute = 'nation_show' %}
  {% if gameSystemId|default(false) %}
      {% set linkParams = {'id': nation.id, 'gameSystem' : gameSystemId  } %}
      {% set nationRoute = 'nation_gameSystem_show' %}
  {% else %}
  
  {% endif %}
  <a href="{{ path(nationRoute,linkParams) }}" 
  class="list-group-item list-group-item-action flex-column  border-top border-bottom">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1"><i class="fas fa-flag"></i> {{ nation.name }}</h5>
      <small>3 days ago</small>
    </div>
    {# <p class="mb-1">Description</p>
    <small>nation : </small> #}
  </a>

{% else %}
 <a href="#" class="list-group-item flex-column  border-top border-bottom">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">No data</h5>
      <small></small>
    </div>
    <p class="mb-1">No data</p>
    <small></small>
  </a>
 {% endfor %}

</div>
