{% extends 'base.html.twig' %}

{% block title %}EmbedTypeNotFound{% endblock %}

{% block body %}

    <h1>{{ embedType }} NOT FOUND FOR CONTROLLER {{ class }} {{ method }}</h1>
{% endblock %}

