{% extends 'base-page.html.twig' %}

{% block title %}EmbedTypeNotFound{% endblock %}

{% block body2 %}

    <h1>{{ embedType }} NOT FOUND FOR CONTROLLER {{ class }} {{ method }}</h1>
{% endblock %}

