{% extends 'base-page.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body2 %}
<div class="container mt-3">

        <div class="jumbotron">
        <h1 class="display-3">Fantasy Battle DB</h1>
        <p class="lead">This site was created to give the community a tool to create applications around games related to miniature and fantasy.</p>
        {#
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p>
        #}
        </div>

</div>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h2>Game Systems</h2>
            {{ render(controller(
                    'App\\Controller\\GameSystemController::index',
                    { 'embedType': 'groupListContainer' }
                )) }}
            <h2>Races</h2>
             {{ render(controller(
                    'App\\Controller\\RaceController::index',
                    { 'embedType': 'groupListContainer' }
                )) }}
            <h2>Worlds</h2>
            {{ render(controller(
                    'App\\Controller\\WorldController::index',
                    { 'embedType': 'groupListContainer' }
                )) }}
        </div>
        <div class="col-md-3">
        </div>
        <div class="col-md-3">TOTO
        </div>
    </div>

</div>

{% endblock %}
